<!-- <p>header works!</p> -->
<div class="header">

    <nav>
        <ul>
            <img [src]="logo">
            <!-- <li *ngFor="let headData of headDataList"><a href="#">{{ headData }}</a>
                <select></select>
            </li> -->
            <li><a [routerLink]="['./service']">Our Service</a></li>
            <li><a [routerLink]="'aboutus'">About Us</a></li>
            <div class='btngetType'>
                <button type="button" style="display: flex; justify-content: end;" class="btnGet">GET QUOTE</button>
            </div>
        </ul>
    </nav>
</div>
